<h1>BitKinex</h1>

<aside class="alert note">BitKinex only supports older ciphers which are now considered insecure. For practical purposes there may be little difference between BitKinex via SFTP and FTP. It's likely a false sense of security in that respect.</aside>
<p>The guide will show you how to use BitKinex to connect to your slot here at Feral via FTP. It shouldn't require any expertise to use, but it might be helpful to read the <a href="../ftp">general FTP/SFTP guide</a> first or if you encounter a more general problem.</p>
<p>BitKinex is only available for Windows and has not been updated since 2010.</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#connecting">Connecting to your slot</a></li>
            <li><a href="#usage">Usage</a>
                <ul>
                    <li><a href="#speed">Speed issues and BitKinex</a></li>
                </ul>
            </li>
            <li><a href="#external-links">External links</a></li>
        </ol>
    </nav>
</details> 

<h2 id="connecting">Connecting to your slot</h2>
<p>First of all you'll need to download and install BitKinex according to its instructions. If you don't already have the software you can find a download link in the External links section at the bottom of this guide.</p>
<p>You'll need the following information to connect:</p>
<ul>
    <li>Server/hostname</li>
    <li>Username</li>
    <li>Password</li>
</ul>
<p>You can find each of these by clicking on the <samp>Software</samp> link of your <a href="/wiki/getting-started/web-manager">Feral web manager</a>.</p>
<p>Open BitKinex and press <kbd>ctrl</kbd> + <kbd>1</kbd>. This will create a new FTP connection for you, which you must name. Once named the connection manager window will open.</p>
<p>Put your server/hostname, username and password which we obtained from the slot's Software page. You won't need to add a port number to the hostname, as BitKinex will automatically use the default port. But, if you want to, your two options are <samp>21</samp> or <samp>22221</samp>.</p>
<figure>
    <img alt="Screenshot of the BitKinex connection manager, showing server, username and password field locations" src="https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/slots/ftp/bitkinex/bitkinex-connection-manager.png">
    <figcaption>In the text above, replace <var>Server</var>, <var>Username</var> and the password with the details found on your slot's <samp>Software</samp> page</figcaption>
</figure>
<p>When you connect, you might get a message informing you that you're <samp>connecting to an untrusted server</samp>. You can select <samp>Always trust this server</samp> unless you want to decide each time.</p>

<h2 id="usage">Usage</h2>
<p>Once connected you'll see your slot's folders in the central panel and your local directory structure to the right. To download, just select the download location from the right-hand side and drag your folder/files over.</p>

<h3 id="speed">Speed issues and BitKinex</h3>
<p>BitKinex allows you to download files in multiple segments. This can help increase transfer speeds so is something worth trying if your downloads are not reaching your maximum speeds.</p>
<p>To set up multisegmented downloading, <kbd>right-click</kbd> the entry in BitKinex's connection list named <samp>Ftp</samp>. Click on <samp>Properties</samp>, then <samp>Connections</samp> on the list to the left-hand side of the window which appears. In the box for <samp>Total number of connections used...</samp> enter <kbd>50</kbd>.</p>

<h2 id="external-links">External links</h2>
<ul>
    <li><a href="http://www.bitkinex.com/download">BitKinex download page</a></li>
    <li><a href="http://www.bitkinex.com/ftp/help/html/index.html">Documentation</a></li>
</ul>