<h1>Megatools</h1>
<p>This article will show you how to install Megatools. Megatools is a set of command line tools for accessing Mega.co.nz cloud storage.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a>
                <ul>
                    <li><a href="#installation-notes">Installation notes</a></li>
                </ul>
            </li>
            <li><a href="#usage">Using Megatools</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installation</h2>
<p>Install Megatools by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>mkdir -p ~/bin
wget -qO megatools.tar.gz https://megatools.megous.com/builds/megatools-1.10.2.tar.gz
tar xf megatools.tar.gz
cd ~/megatools-*/
./configure --prefix=$HOME --disable-docs
make &amp;&amp; make install
cd &amp;&amp; rm -rf ~/megatools/</kbd></pre>

<h3 id="installation-notes">Installation notes</h3>
<p>If your binary directory (<samp>~/bin</samp>) is not in PATH you'll need to give the full path when trying to run the software in that directory. A better alternative is to <a href="/wiki/getting-started/newbie-info#pathfix">add the bin directory to PATH</a>.</p>

<h2 id="usage">Using Megatools</h2>
<p>Megatools features the following binaries:</p>
<dl>
    <dt>megacopy</dt>
    <dd>synchronize local and remote mega.nz directories</dd>
    <dt>megadf</dt>
    <dd>display mega.nz storage quotas/usage</dd>
    <dt>megadl</dt>
    <dd>download exported files from mega.nz</dd>
    <dt>megaget</dt>
    <dd>download individual files from mega.nz</dd>
    <dt>megals</dt>
    <dd>list files stored at mega.nz</dd>
    <dt>megamkdir</dt>
    <dd>create directories at mega.nz</dd>
    <dt>megaput</dt>
    <dd>upload files to mega.nz</dd>
    <dt>megareg</dt>
    <dd>register a new mega.nz account</dd>
    <dt>megarm</dt>
    <dd>remove files from mega.nz</dd>
</dl>
<p>You can get the usage guide by running the binary name with the <kbd>--help-basic</kbd> or <kbd>--help-all</kbd> options:</p>
<pre><samp>[server ~] megaget --help-all
Usage:
  megaget [OPTION…] - download individual files from mega.nz

Help Options:
  -h, --help                  Show help options
  --help-all                  Show all help options
  --help-basic                Show basic options
  --help-network              Show network options
  --help-auth                 Show authentication options

Basic Options:
  --config=PATH               Load configuration from a file
  --ignore-config-file        Disable loading .megarc
  --debug=OPTS                Enable debugging output
  --version                   Show version information

Network Options:
  --limit-speed=SPEED         Limit transfer speed (KiB/s)
  --proxy=PROXY               Proxy setup string

Authentication Options:
  -u, --username=USERNAME     Account username (email)
  -p, --password=PASSWORD     Account password
  --no-ask-password           Never ask interactively for a password
  --reload                    Reload filesystem cache

Application Options:
  --path=PATH                 Local directory or file name, to save data to
  --no-progress               Disable progress bar
</samp></pre>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>
<pre><code>rm -rf ~/bin/{megacopy,megadf,megadl,megaget,megals,megamkdir,megaput,megareg,megarm}</code></pre>