<h1>Node.js</h1>
<p>This article will show you how to install Node.js and the Node Package Manager to your slot for use with applications.</p>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a>
                <ul>
                    <li><a href="#installation-notes">Installation notes</a></li>
                </ul>
            </li>
            <li><a href="#running">Running Node.js and NPM</a></li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installation</h2>
<p>To install Node.js and its package manage (npm) simply log in via SSH and copy-paste the following commands:</p>
<pre><samp>mkdir -p ~/bin &amp;&amp; bash
wget -qO ~/node.js.tar.gz https://nodejs.org/dist/v12.18.3/node-v12.18.3-linux-x64.tar.gz
tar xf ~/node.js.tar.gz --strip-components=1 -C ~/
mkdir -p ~/node/apps
cd &amp;&amp; rm -rf node.js.tar.gz</samp></pre>

<h3 id="installation-notes">Installation notes</h3>
<p>Due to the way versions of Node.js are hosted it's not possible to provide a link which would always download the most up-to-date version. Feel free to contribute to this page by updating the URL above.</p>
<p>The installation process also creates a directory for apps at <samp>~/node/apps</samp>. This isn't necessary but can help to keep things neat. Guides to software such as <a href="nodejs/flood">Flood</a> assume this as well.</p>

<h2 id="running">Running Node.js and NPM</h2>
<p>You can install the latest stable release of a package and its dependencies with <kbd>npm install --production --prefix ~/node/apps/<var>directory</var></kbd>, where <var>directory</var> is replaced by the name of the directory housing the desired app.</p>
<p>To start an app, run <kbd>npm start --prefix ~/node/apps/<var>directory</var></kbd>, where <var>directory</var> is replaced by the name of the directory housing the desired app.</p>
<p>You can check which version is installed with <kbd>node -v</kbd>.</p>

<h2 id="troubleshooting">Troubleshooting</h2>
<dl>
    <dt>When I run <kbd>node</kbd> I get an error <samp>bash: node: command not found</samp></dt>
    <dd>
        <p>This means <samp>~/bin</samp> is not part of your PATH. You can add it with the following:</p>
        <pre><kbd>echo "PATH=~/bin:$PATH" > ~/.bashrc
source ~/.bashrc</kbd></pre>
        <p>Then, try the <kbd>node</kbd> command again.</p>
    </dd>
</dl>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>
<p><kbd>rm ~/bin/node ~/bin/npm ~/bin/npx ~/node</kbd></p>