<h1>Cron</h1>
<p>This guide will show you how to edit the crontab via SSH. Cron is a handy way of executing tasks on a schedule or at certain points and this guide will focus on two different ways to use it:</p>
<ol>
    <li>Starting custom software if it's not running</li>
    <li>Run tasks on a regular schedule</li>
</ol>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>.</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#usage">Using the crontab editor</a></li>
            <li><a href="#starting-software">Starting custom software if it's not running</a></li>
            <li><a href="#scheduling">Run tasks on a regular schedule</a></li>
        </ol>
    </nav>
</details> 

<h2 id="usage">Using the crontab editor</h2>
<p> To bring up the crontab editor, simply copy-paste the following command:</p>
<p><kbd>crontab -e</kbd></p>
<p> If this is your very first time you'll be given a choice of editors. Nano is fine to use so unless you have other desires simply press enter.</p>
<p>You'll be presented with this text:</p>
<pre><samp># Edit this file to introduce tasks to be run by cron.
#
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
#
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').#
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
#
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
#
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h  dom mon dow   command</samp></pre>
<p>This provides some basic information on crontabs - you can keep it if you like, or get rid of it if you prefer. The lines are commented out so are for information purposes only and don't affect any cron jobs added.</p>

<h2 id="starting-software">Starting custom software if it's not running</h2>

<h3>Setting up our script</h3>
<p>Open up the script file for writing with the following command (via SSH):</p>
<p><kbd>nano ~/.cronscript.sh</kbd></p>
<p>Then paste the following at the top of the document to ensure the script is run in the correct shell:</p>
<p><kbd>#!/bin/bash</kbd></p>
<p>For each piece of software you wish to check and start up, add the following line. Naturally, replace <var>check</var> and <var>start</var> with the actual commands in the relevant software guide; name you want to check and run.</p>
<p><kbd>[[ <var>check</var> ]] || <var>start</var></kbd></p>
<p>Once you're done hold <kbd>ctrl</kbd> + <kbd>x</kbd> to save. Press <kbd>y</kbd> to confirm.</p>
<p>Note that you can drop the <samp>echo</samp> part of any startup commands as no URL will get displayed to you when the cron job runs.</p>

<h3>Setting up the cron job</h3>
<p>Using the instructions in the section above, <samp>Using the crontab editor</samp>, open your crontab. Paste the following:</p>
<pre><kbd>SHELL=/bin/bash
*/5 * * * * ~/.cronscript.sh</kbd></pre>
<p>Once you're done hold <kbd>ctrl</kbd> + <kbd>x</kbd> to save. Press <kbd>y</kbd> to confirm.</p>

<h3>Example for common software</h3>
<p>As an example, if you wanted to auto-restart software found in our wiki such as <a href="/wiki/software/jackett">Jackett</a> or <a href="/wiki/software/sonarr">Sonarr</a> your script would look like this:</p>

<pre><code>#!/bin/bash
##set -eux -o pipefail

## Jacket
#[[ $(pgrep -f 'Jackett') ]] || screen -dmS jackett /bin/bash -c 'export TMPDIR=~/tmp; ~/Jackett/jackett_launcher.sh'
## Lidarr
#[[ $(pgrep -f 'Lidarr') ]] || screen -dmS Lidarr /bin/bash -c 'export TMPDIR=~/tmp; mono --debug Lidarr/Lidarr.exe'
## Ombi (replace 1234 with your configured port)
#PORT=1234; [[ $(pgrep -f 'Ombi') ]] || (pushd ~/opt/Ombi; screen -dmS Ombi ~/opt/Ombi/Ombi --host http://*:$PORT; popd)
## pyLoad
#[[ $(pgrep -f 'pyLoad') ]] || screen -dmS pyLoad -- pyLoadCore --configdir=~/.pyload
## qBittorrent
#[[ $(pgrep -f 'qbittorrent-nox') ]] || screen -dmS qbittorrent ~/bin/qbittorrent-nox
## Radarr
#[[ $(pgrep -f 'Radarr') ]] || screen -dmS Radarr /bin/bash -c 'export TMPDIR=~/tmp; mono --debug Radarr/Radarr.exe'
## SABnzbd (replace 1234 with a number between 10000 and 30000)
#PORT=1234; [[ $(pgrep -f 'SABnzbd.py') ]] || screen -fa -dmS sabnzbd python ~/SABnzbd-*/SABnzbd.py --browser 0 --server $(hostname -f):$PORT
## SickChill
#[[ $(pgrep -f "python $HOME/SickChill/SickBeard.py -d") ]] || (rm -rf ~/SickChill/SickChill.pid; ~/pip/bin/python ~/SickChill/SickBeard.py -d --pidfile="$HOME/SickChill/SickChill.pid")
## Sonarr
#[[ $(pgrep -f 'NzbDrone.exe') ]] || screen -dmS sonarr /bin/bash -c 'export TMPDIR=~/tmp; mono --debug ~/NzbDrone/NzbDrone.exe'
## Tautulli
#[[ $(pgrep -f Tautulli) ]] || screen -dmS Tautulli python ~/Tautulli/Tautulli.py</code></pre>

<p>Uncomment the required software by removing the preceding <kbd>#</kbd> (be sure not to remove any lines with a double <kbd>##</kbd> or the first two lines). Feel free to amend the example script to run your software.</p>

<p>Once you're done, ensure the permissions for running the script are set correctly with this command:</p>
<p><kbd>chmod 700 ~/.cronscript.sh</kbd></p>

<h2 id="scheduling">Run tasks on a regular schedule</h2>
<p> A major use of cron jobs is to get things to run on a schedule. The various configurations are outside the scope of this quick guide so a couple of example (combined with the commented out text you get in the initial crontab, provided above) should be enough to get you going. Variables are used throughout - replace the examples with your own information!</p>
<p>This example will execute flexget every ten minutes:</p>
<p><kbd>*/10 * * * * /media/<var>disk_id</var>/<var>username</var>/flexget --cron execute</kbd></p>

<p>The following two are equivalent and will run a script called script.sh at midnight:</p>
<p><kbd>@daily /media/<var>disk_id</var>/<var>username</var>/script.sh</kbd></p>
<p><kbd>0 0 * * * /media/<var>disk_id</var>/<var>username</var>/script.sh</kbd></p>