<h1>Custom domains</h1>
<p>This guide will show you how set up a custom domain on your slot. It assumes you have already made the <a href="/wiki/software/nginx">made the switch to nginx</a>. If you haven't done so, please follow that guide then return here.</p>
<p>You may need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#configuring-registrar">Configuring things at a registrar</a></li>
            <li><a href="#configuring-feral">Configuring things at Feral</a></li>
            <li><a href="#custom-ssl">Custom SSL certificates</a></li>
        </ol>
    </nav>
</details>

<h2 id="configuring-registrar">Configuring things at a registrar</h2>
<p>The following steps should be broadly similar for all registrars. Double-check the registrar's own documentation for requirements first - if you require a piece of information and are unsure how to obtain it, please <a href="/wiki/getting-started/tickets">open a ticket</a>.</p>
<p>First of all you'll need to <a href="/wiki/getting-started/newbie-info#server-ip">get your server's IP</a>. Once you have this, you'll be able to configure the DNS settings of your custom domain.</p>
<p>Your domain registrar or name server host will provide you with basic or advanced tools (a DNS records editor) to manage your DNS settings for each domain they are managing. Access the tools according to the registrar's own documentation / help. There are potentially two things that need to be created - the first is an A record for the main IP and the second a CNAME record for the www version of the domain. Note that some registars will automatically create the CNAME record</p>.
<p>To create an A record most registrars require the following information:</p>
<dl>
  <dt>Host</dt>
  <dd>The domain name you've purchased e.g. <var>example.com</var></dd>
  <dt>TTL</dt>
  <dd>The "time to live" setting; <kbd>1H</kbd> or <kbd>3600</kbd>.</dd>
  <dt>Type</dt>
  <dd>A</dd>
  <dt>Value / blank input field</dt>
  <dd>Your server's IP (see steps above if you need help with this).</dd>
</dl>

<p>If a CNAME record must be created manually, here is the info you will need (the placeholder <var>example.com</var> is used - replace this with the domain you've purchased):</p>
<dl>
  <dt>Host</dt>
  <dd>www.<var>example.com</var></dd>
  <dt>TTL</dt>
  <dd><kbd>1H</kbd> or <kbd>3600</kbd>.</dd>
  <dt>Type</dt>
  <dd>CNAME</dd>
  <dt>Value / blank input field</dt>
  <dd><var>example.com</var></dd>
</dl>
<aside class="alert note">Domains can take up to 24 hours for the DNS to propagate fully. This is beyond Feral's control and you should consider changing your DNS servers if your ISP is taking too long to acknowledge the changes.</aside>

<h2 id="configuring-feral">Configuring things at Feral</h2>
<p>In order to set things up all you need to do is add a directory for your domain and let the system take care of the rest. To do this, run this command (where <var>example.com</var> is replaced by your actual domain:</p>
<p><kbd>mkdir -p ~/www/<var>example.com</var></kbd></p>
<p>A script running on the server will run every five minutes and will configure your domain once it has "seen" it. You can confirm this has happened by checking to see if there's a directory named <samp>public_html</samp> in your custom domain's directory.</p>

<h2 id="custom-ssl">Custom SSL certificates</h2>
<p>There is a separate guide to <a href="/wiki/software/nginx#https">configuring custom SSL certificates</a>.</p>
