<h1>Improving speeds from Feral to you</h1>
<p>Often a user's biggest issue is the speed of transfers from their slot to their home when downloading via FTP/SFTP. Sometimes it's possible to improve speeds using a combination of various methods (sometimes to the extent of maximising your download bandwidth) and that's what this guide aims to show you. Most of the methods should be usable by all users as they do not rely on any expertise.</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#rerouting">Rerouting</a></li>
            <li><a href="#multi-para-dl">Multisegmented and parallel downloading</a>
                <ul>
                    <li><a href="#why-multiseg-dl">Why can multisegmented downloading help?</a></li>
                </ul>
            </li>
            <li><a href="#switch-port">Switching ports</a></li>
            <li><a href="#switch-protocol">Switching protocols</a></li>
        </ol>
    </nav>
</details> 

<h2 id="rerouting">Rerouting</h2>
<p>Data from your slot to your home or device can normally take a large number of different routes to reach you, depending on how your ISP manages its traffic. Using Feral's <a href="https://network.feral.io/reroute">reroute tool</a>, you're able to dictate which route is take from Feral to your current IP. There are a few things to bear in mind with this:</p>
<ul>
    <li>It only works when using an IPv4 address</li>
    <li>Rerouting only works from Feral - you cannot change the route <em>to</em> Feral</li>
    <li>It only works with the IP used to access the page - if that changes, you'll need to re-set the route</li>
</ul>
<p>Rerouting can improve streaming speeds with software like <a href="../software/plex">Plex</a> and can also be combined with the other improvements in the sections below.</p>
<p>To find the fastest route, please try switching routes and downloading from your slot.</p>

<h2 id="multi-para-dl">Multisegmented and parallel downloading</h2>
<p>Multisegmented and parallel downloading are two methods of boosting download speeds when downloading via FTP/SFTP or HTTP(S). The difference between multisegmented and parallel downloading is:</p>
<dl>
    <dt>multisegmented</dt>
    <dd>a file is split into segments and downloaded</dd>
    <dt>parallel</dt>
    <dd>multiple files are downloaded at the same time</dd>
</dl>
<p>Not every piece of software can support multisegmented downloading (for example <a href="ftp/filezilla">FileZilla</a>). You should look at the documentation for your client for help on setting it up, as well as the software guides linked to on the main <a href="ftp">Feral FTP guide</a> page.</p>
<p>You should be able to use parallel downloading in most browsers and programs, simply by selecting multiple files to download.</p>

<h3 id="why-multiseg-dl">Why can multisegmented downloading help?</h3>
<p>Your downloading FTP client specifies a "receive window" - this is how much data it is willing to receive before reporting back to the server that it received the data correctly. If (for instance) it announces to the server that it's willing to buffer 256kb of data, the server will send 256kb and then wait for the client to report that it received the 256kb in good order. It's this mechanism that's responsible for the loss of speed. If you are very close to the server it's not that much of a problem, but the higher the latency the more you have to wait for each little bit of data to be acknowledged. Having more transfers running mitigates this, though once you're down to the last segment you may see the speed drop sharply.</p>

<h2 id="switch-port">Switching ports</h2>
<p>Another thing you can try when downloading via FTP/SFTP is switching the port. By default, the port number is <samp>21</samp> for FTP and <samp>22</samp> for SFTP, but you can try <samp>22221</samp> for FTP and <samp>22222</samp> for SFTP as this can sometimes bypass throttles.</p>

<h2 id="switch-protocol">Switching protocols</h2>
<p>It can sometimes happen that a particular protocol is being throttled or managed in some way and cannot provide good speeds, despite trying all the things above. At that point it might be worth changing the protocol up to see if that would help. You could try downloading via HTTP, for example, if you were previously using FTP/SFTP.</p>